/*Параметри за замовчуванням для всієї сторінки*/
body {
    background-color: #151515;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.heder_title {
    text-align: center;
    font-size: 16px;
    width: 700px;
}

.heder_title {
    text-align: center;
    font-size: 16px;
    width: 700px;
}

.header_subtitle {
    text-align: center;
    font-size: 14px;
    width: 400px;
    padding-top: 2px;
}

.header_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.header_button_btn {
    position: absolute;
    text-transform: uppercase;
    background-color: #0060FF;
    border-radius: 7px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 12px 16px;
    height: 40px;
    border: none;
}
.pictures {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.pictures_img {
    display: none;
}
.pictures_img.is-visible {
    display: block;
}
.img {
    width: 426px;
    height: 559px;
    object-fit: cover;
}

